/* Import font */
@import url('https://fonts.googleapis.com/css2?family=General+Sans:wght@400;700&display=swap');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define color palette */
:root {
    --sage-green: #5F8263;
    --royal-yellow: #FFD700;
    --grey: #808080;
}

/* Set font family and color */
body {
    font-family: 'General Sans', sans-serif;
    color: whitesmoke;
}

/* Form styles */
.form-container {
    background-color: var(--royal-yellow);
    color: var(--grey);
    padding: 1.25rem;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 18.75rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.form-container.active {
    transform: translateX(0);
}

/* Button styles */
.btn {
    background-color: var(--sage-green);
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
}

.btn-warning {
    padding: 6.25rem 2.5rem;
    font-size: 1.125rem;
    /* Increased font size */
}

/* Logo styles */
.logo {
    position: absolute;
    top: 1.25rem;
    /* Adjust top position as needed */
    left: 15vw;
    z-index: 999;
}

/* Image container styles */
.img-container {
    padding: 1.875rem;
}

/* Slide styles */
.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.195rem;
}

.slide1 {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.slide2 {
    background: rgb(255, 255, 255);
}

.slide3 {
    background: rgb(230, 225, 217);
}

.slide4 {
    background: rgb(16, 10, 44);
}

.slide5 {
    background: rgb(255, 255, 255);
}

.about {
    margin-top: 0.46875rem;
}

.text-column {
    height: 50%;
    padding: 0.3125rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    background-color: rgb(230, 225, 217);
}

/* Customize key points styling as desired */
.key-points {
    list-style: disc;
    margin: 0;
    padding: 0;
}

.about-head {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(15, 15, 52);
}

.key-points li {
    padding: 1.875rem;
    margin: 0 2.5rem;
    font-weight: bold;
}

.discount {
    margin: 0.625rem 0;
}

button .h2 {
    padding: 1.875rem;
}

.about {
    margin-top: 2.8125rem;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border-box-round {
    border: white solid 0.125rem;
    margin: 1.5625rem 0.625rem;
    border-radius: 0.625rem;
    padding: 1.875rem;
    text-align: center;
    /* Center text horizontally */
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Arrange content vertically */
    align-items: center;
    /* Center content vertically */
}

.border-box-round i {
    margin-bottom: 0.625rem;
    /* Adjust vertical spacing between icon and text */
}

/* Horizontal rule text styles */
.hr-text {
    line-height: 1.5em;
    /* Adjusted line height */
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 6.5em;
    opacity: 1;

    &:before {
        content: '';
        background: white;
        position: absolute;
        left: 0;
        top: 26%;
        width: 100%;
        height: 0.1875rem;
        font-size: 1.875rem;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0.125rem 0.3125rem;
        /* Adjusted padding */
        line-height: 1.5em;
        color: white;
        background-color: rgb(4, 4, 41);
        font-size: 1.875rem;
        border: 0.125rem solid black;
        border-radius: 0.3125rem;
    }
}

/* Text styles */
.text-main {
    font-size: 2.5vw;
    font-weight: bolder;
}

.text {
    font-size: 1.2rem;
    font-weight: normal;
}

.container {
    width: 100%;
}

.slide3 i {
    font-size: 4.375rem;
}

.section-3 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 0.625rem;
}

.slide4 h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: whitesmoke;
}

.slide4 h2 {
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
}

.timer {
    font-size: 4rem;
    font-weight: bolder;
    color: whitesmoke;
}

.form {
    position: fixed;
    bottom: 0;
    left: 10%;
    transform: translate(-10%, 100%);
    opacity: 0;
    max-width: 100%;
    padding: 1.25rem;
    border: 0.125rem solid #ccc;
    border-radius: 0.3125rem;
    transition: all 1.5s ease-in-out;
}

.form.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.form input,
.form button {
    display: block;
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.1875rem;
}


@media (max-width: 48rem) {
    .btn-warning {
        padding: 0.9375rem 1.875rem;
        font-size: 0.75rem;
    }

    .logo {
        left: 0.625rem;
    }

    .img-container {
        padding: 0.625rem;
    }

    .slides {
        gap: 0.03125rem;
    }

    .border-box-round {
        margin: 0.625rem 0;
        padding: 0.9375rem;
    }

    .hr-text {
        height: 5em;
    }

    .slide1 {
        font-size: 3vw;
    }

    .top-text h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    .key-points li h4 {
        font-size: 0.9rem;
    }

    .key-points li {
        padding: 1rem;
    }

    .about-head {
        font-size: 2rem;
    }

    .about i {
        font-size: 2rem;
    }

    .about h3 {
        font-size: 0.7rem;
    }

    svg {
        width: 6rem;
    }

    .border-box-round {
        margin: 0.5rem 0.3rem;
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-1 {
        margin-top: 8rem;
    }

    button h2 {
        font-size: 1rem;
    }

    .logo {
        top: 0.1rem;
    }

    .new-my button {
        margin-top: -2rem;
    }

    .discount {
        font-size: 0.9rem;
        margin-top: -2rem;
    }

    img {
        margin-top: -3rem;
    }
    .hr-text {
        &:after {
            font-size: 1rem;
        }
    }

    .text-column {
        background-color: white;
    }
    .hr-text {
        margin-top: -2rem;
    }

    .slides.slide2 .row {
        flex-direction: column;
    }
    
    .slides.slide2 .img-container,
    .slides.slide2 .text-column {
        width: 100%;
        padding: 0;
    }

    .img-container {
        margin-top: -5rem;
    }
    .about-head {
        margin-top: 9rem;
        margin-bottom: 0rem;
    }
    .head-about {
        margin-top: 9rem;
    }
    .slide4 h1{
        font-size: 2rem;
    }

    .slide4 h2{
        font-size: 2rem;
    }
    .form {
        left: 34%;
    }
}
